body {
    margin: 0;
}

.Nav {
    width: 100%;
    background-color: aquamarine;
}

nav ul {
    list-style-type: none;
    width: 50%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    padding: 0 25%;
}

nav li {
    float: left;
    width: 20%;
}

nav li a {
    display: block;
    color: #818181;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
    color: white;
}

.Logo {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.Logo img {
    width: 250px;
    height: 70px;
}

.Container {
    text-align: center;
    margin-top: 50px;
    position: absolute;
    padding: 0 5%;
    z-index: 1;
    width: 90%;
	
}

.contant {
    width: 100%;
    border-top: solid 1px black;
    margin-top: 20px
}
.header{
	font-size:30px;
}
.content {
    width: 100%;
    margin-top: 300px;
	margin-left:50px;
	font-size:25px;
}
input[type=text]{
	
  padding: 20px 60px;
  font-size:20px;

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea{
	padding: 20px;
	   font-size:20px;
	   display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	   
}
button[type=submit]{

	background-color:black;
	border: none;
  color: white;
  padding: 30px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 20px; 
  margin-left:50px;
  cursor: pointer;
}
button[type=cancel]{

	background-color:black;
	border: none;
  color: white;
  padding: 30px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 20px; 
  margin-left:50px;
  cursor: pointer;
}
.gallery {
    width: 100%;
    margin-top: 300px;
	margin-left:50px;
	font-size:25px;
	text-align:center;
}


.artical {
	width:100%;
	float:left;
}
	
